In [1]:
import pandas as pd
import numpy as np

In [20]:
data = {'Name': ['North Baldwin','Baldwin Harbor','Freeport','Oceanside','Rockville Centre'],
'Population': [25134,7690,43128,31185,24442],
#'Square Miles': [3.0,1.2,4.6,4.9,3.3],
'Avg PC Income': [38163,46741,32373,47865,61730],
'Med House Income': [105888,118194,76244,114938,114483],
'Poverty Per': [6,5.3,12.5,5.1,4.4],
'Per White': [34,43,25,85,79],
'Per Black': [35,28,29,1,6],
'Per Hispanic': [25,22,42,11,11],
'Per Asian': [3,5,2,2,3],
'Per 2+': [3,2,3,0,1]}

In [3]:
towns = pd.DataFrame(data, columns = ['Name','Population','Avg PC Income','Med House Income','Poverty Per','Per White','Per Black','Per Hispanic', 'Per Asian','Per 2+'])

In [4]:
towns

,Name,Population,Avg PC Income,Med House Income,Poverty Per,Per White,Per Black,Per Hispanic,Per Asian,Per 2+
0,North Baldwin,25134,38163,105888,6.0,34,35,25,3,3
1,Baldwin Harbor,7690,46741,118194,5.3,43,28,22,5,2
2,Freeport,43128,32373,76244,12.5,25,29,42,2,3
3,Oceanside,31185,47865,114938,5.1,85,1,11,2,0
4,Rockville Centre,24442,61730,114483,4.4,79,6,11,3,1

In [5]:
towns.iloc(0)

In [6]:
NB_pop = towns.loc[0,'Population']
NB_avg = towns.loc[0,'Avg PC Income']
NB_incom = towns.loc[0,'Med House Income']
NB_pov = towns.loc[0,'Poverty Per']
NB_white = towns.loc[0,'Per White']
NB_black = towns.loc[0,'Per Black']
NB_his = towns.loc[0,'Per Hispanic']
NB_asia = towns.loc[0,'Per Asian']
NB_2 = towns.loc[0,'Per 2+']

In [7]:
BH_pop = towns.loc[1,'Population']
BH_avg = towns.loc[1,'Avg PC Income']
BH_incom = towns.loc[1,'Med House Income']
BH_pov = towns.loc[1,'Poverty Per']
BH_white = towns.loc[1,'Per White']
BH_black = towns.loc[1,'Per Black']
BH_his = towns.loc[1,'Per Hispanic']
BH_asia = towns.loc[1,'Per Asian']
BH_2 = towns.loc[1,'Per 2+']

In [8]:
Btot_pop = NB_pop+BH_pop

In [9]:
BH_per = np.round(BH_pop/Btot_pop,4)

In [10]:
NB_per = np.round(NB_pop/Btot_pop,4)

In [11]:
Btot_avg = np.round(((NB_avg*NB_per) + (BH_avg*BH_per)))
Btot_incom = np.round((NB_incom*NB_per)+(BH_incom*BH_per))
Btot_pov = np.round((NB_pov*NB_per)+(BH_pov*BH_per),1)
Btot_white = np.round((NB_white*NB_per)+(BH_white*BH_per),0)
Btot_black = np.round((NB_black*NB_per)+(BH_black*BH_per),0)
Btot_his = np.round((NB_his*NB_per)+(BH_his*BH_per),0)
Btot_asia = np.round((NB_asia*NB_per)+(BH_asia*BH_per),0)
Btot_2 = np.round((NB_2*NB_per)+(BH_2*BH_per),0)

In [12]:
data2 = {'Name':'Baldwin', 'Population':Btot_pop,'Avg PC Income':Btot_avg, 'Med House Income':Btot_incom, 'Poverty Per':Btot_pov, 'Per White':Btot_white, 'Per Black':Btot_black, 'Per Hispanic':Btot_his, 'Per Asian':Btot_asia, 'Per 2+':Btot_2}

In [13]:
data2

{'Name': 'Baldwin',
 'Population': 32824,
 'Avg PC Income': 40173.0,
 'Med House Income': 108771.0,
 'Poverty Per': 5.8,
 'Per White': 36.0,
 'Per Black': 33.0,
 'Per Hispanic': 24.0,
 'Per Asian': 3.0,
 'Per 2+': 3.0}

In [26]:
towns = towns.append(data2, ignore_index=True)

In [28]:
towns = towns.drop(0)

In [30]:
towns = towns.drop(1)

In [32]:
towns.reset_index()

,index,Name,Population,Avg PC Income,Med House Income,Poverty Per,Per White,Per Black,Per Hispanic,Per Asian,Per 2+
0,2,Freeport,43128,32373.0,76244.0,12.5,25.0,29.0,42.0,2.0,3.0
1,3,Oceanside,31185,47865.0,114938.0,5.1,85.0,1.0,11.0,2.0,0.0
2,4,Rockville Centre,24442,61730.0,114483.0,4.4,79.0,6.0,11.0,3.0,1.0
3,5,Baldwin,32824,40173.0,108771.0,5.8,36.0,33.0,24.0,3.0,3.0